<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meu Aplicativo ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/mainJs")
</head>
<body>
    <!--TAG LOADING MESSAGE-->
    <div id="coverScreen" class="lock-on">
    </div>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Produto - Starter Kit", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Início", "Index", "Home")</li>
                    <li>@Html.ActionLink("Sobre", "About", "Home")</li>
                    <li>@Html.ActionLink("Contato", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Células", "Index", "Celulas")</li>
                    <li>@Html.ActionLink("Setores", "Index", "Setores")</li>
                    <li>@Html.ActionLink("Usuarios", "Index", "Usuarios")</li>
                    <li>
                        <labeL style="color:#ffffff;">@HttpContext.Current.User.Identity.Name</labeL>
                    </li>
                </ul>
                @using (Html.BeginForm("Logout", "Login", FormMethod.Post))
                {
                    if (@HttpContext.Current.User.Identity.IsAuthenticated)
                    {
                        <a href="javascript:;" onclick="document.forms[0].submit();">Logout</a>
                    }
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        <!--SITE MAP-->
        <br /><br />
        <h3>@ViewBag.Title</h3>
        @if (Html.MvcSiteMap().SiteMap.CurrentNode != Html.MvcSiteMap().SiteMap.RootNode)
        {
            <div class="breadcrumb" style="display:inline-block;width:100%;">
                <span class="glyphicon glyphicon-home" aria-hidden="true" style="color:#666666"></span>
                @Html.MvcSiteMap().SiteMapPath()
            </div>
        }
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Meu Aplicativo ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/site")

    @RenderSection("scripts", required: false)
</body>
</html>
